{% extends "layout.jinja2" %}

{% block content %}
<h1 class="h1">Idioma: {{ code }}</h1>

{% if manuscripts %}
  {% for m in manuscripts %}
    <div class="card">
      <a href="{{ request.route_url('manuscript_detail', id=m.id) }}" class="h2">
        {{ m.title }}
      </a>
    </div>
  {% endfor %}
{% else %}
  <p>No hay manuscritos en este idioma.</p>
{% endif %}

{% endblock %}
